<!--about me section-->
<div class="education-section mt-4">
  <div class="container px-3">
    <div class="row main-row g-2 p-2 pb-3">
      <div class="mt-3 mb-4">
        <p
          class="our-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          education
        </p>
      </div>

      <div class="col-md-12 col-lg-12 p-2 mb-3">
        <div class="eCard-container p-2 pb-3">
          <!-- <i
            class="fa-solid fa-thumbtack fw-bold p-0 m-0 fs-5 text-white-50"
            style="transform: rotate(0deg)"
          ></i> -->

          <div class="row px-3 align-items-center g-4">
            <div class="col-md-2 col-lg-2">
              <div
                class="img-container p-3 d-flex align-items-center justify-content-center"
                style="
                  width: 85px;
                  height: 85px;
                  border-radius: 50%;
                  background-color: #020410;
                "
              >
                <img
                  src="../../../../assets/images/education/ksu.png"
                  class="w-100"
                  alt=""
                />
              </div>
            </div>

            <div class="col-md-7 col-lg-7">
              <div class="">
                <h4
                  class="text-white-50 fw-bold text-uppercase p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 22px;
                  "
                >
                  Kafrelsheikh University
                </h4>

                <p
                  class="fw-bold text-white-50 text-capitalize p-0 m-0 mt-2"
                  style="font-size: 20px; letter-spacing: 1.5px"
                >
                  faculty of Computers and Information
                </p>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <div
                class="rounded-2 p-2"
                style="background-color: #f86d03; width: fit-content"
              >
                <p
                  class="text-white fw-bold p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 17px;
                  "
                >
                  2016 - 2020
                </p>
              </div>
            </div>

            <hr class="my-3 border-2" style="border-color: #f37d16a7" />

            <div class="col-md-12 col-lg-12 mt-0">
              <div
                class="rounded p-2 px-3 mb-2"
                style="background-color: #020410ad"
              >
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-certificate me-2"></i>Bachelor's degree
                  in Computer Science and Information Systems.
                </p>
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-graduation-cap me-2"></i>graduation
                  project degree :
                  <span
                    class="me-1 fw-bolder p-2 rounded-2 py-0 text-white"
                    style="background-color: #f86e03"
                    >90 %</span
                  >
                </p>
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-chart-line me-2"></i>GPA :
                  <span
                    class="me-1 fw-bolder p-2 rounded-2 py-0 text-white"
                    style="background-color: #f86e03"
                    >3.0</span
                  >, very good
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p
        class="seprator text-center fw-bold fs-1 m-0 p-0"
        style="color: #f86d03"
      >
        <i class="fa-solid fa-arrows-to-dot"></i>
      </p>

      <div class="col-md-12 col-lg-12 p-2 mb-3">
        <div class="eCard-container p-2 pb-3">
          <!-- <i
            class="fa-solid fa-thumbtack fw-bold p-0 m-0 fs-5 text-white-50"
            style="transform: rotate(0deg)"
          ></i> -->
          <div class="row px-3 align-items-center g-4">
            <div class="col-md-2 col-lg-2">
              <div
                class="img-container p-3 d-flex align-items-center justify-content-center"
                style="
                  width: 85px;
                  height: 85px;
                  border-radius: 50%;
                  background-color: #020410;
                "
              >
                <img
                  src="../../../../assets/images/education/iti.png"
                  class="w-100"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-7 col-lg-7">
              <div class="">
                <h4
                  class="text-white-50 fw-bold text-uppercase p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 22px;
                  "
                >
                  Information Technology Institute (ITI)
                </h4>

                <p
                  class="fw-bold text-white-50 text-capitalize p-0 m-0 mt-2"
                  style="font-size: 20px; letter-spacing: 1.5px"
                >
                  Internship with ( ITI ) in Web Development
                </p>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <div
                class="rounded-2 p-2"
                style="background-color: #f86d03; width: fit-content"
              >
                <p
                  class="text-white fw-bold p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 17px;
                  "
                >
                  Jul 2019 - Sep 2019
                </p>
              </div>
            </div>

            <hr class="my-3 border-2" style="border-color: #f37d16a7" />
            <div class="col-md-12 col-lg-12 mt-0">
              <div
                class="rounded p-2 px-3 mb-2"
                style="background-color: #020410ad"
              >
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-certificate me-2"></i>Holds a
                  certificate in web development from the Information Technology
                  Institute (ITI).
                </p>
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-graduation-cap me-2"></i>graduation
                  degree :
                  <span
                    class="me-1 fw-bolder p-2 rounded-2 py-0 text-white"
                    style="background-color: #f86e03"
                    >90 %</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p
        class="seprator text-center fw-bold fs-1 m-0 p-0"
        style="color: #f86d03"
      >
        <i class="fa-solid fa-arrows-to-dot"></i>
      </p>

      <div class="col-md-12 col-lg-12 p-2">
        <div class="eCard-container p-2 pb-3">
          <!-- <i
            class="text-white-50 fa-solid fa-thumbtack fw-bold p-0 m-0 fs-5"
            style="transform: rotate(0deg)"
          ></i> -->

          <div class="row px-3 align-items-center g-4">
            <div class="col-md-2 col-lg-2">
              <div
                class="img-container p-3 d-flex align-items-center justify-content-center"
                style="
                  width: 85px;
                  height: 85px;
                  border-radius: 50%;
                  background-color: #020410;
                "
              >
                <img
                  src="../../../../assets/images/education/route.png"
                  class="w-100 rounded-circle"
                  alt=""
                />
              </div>
            </div>
            <div class="col-md-7 col-lg-7">
              <div class="">
                <h4
                  class="text-white-50 fw-bold text-uppercase p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 22px;
                  "
                >
                  Route Academy (software training)
                </h4>

                <p
                  class="fw-bold text-white-50 text-capitalize p-0 m-0 mt-2"
                  style="font-size: 20px; letter-spacing: 1.5px"
                >
                  full-stack Web development Diploma in Route Academy
                </p>
              </div>
            </div>

            <div class="col-md-3 col-lg-3">
              <div
                class="rounded-2 p-2"
                style="background-color: #f86d03; width: fit-content"
              >
                <p
                  class="text-white fw-bold p-0 m-0"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 2px;
                    font-size: 17px;
                  "
                >
                  Oct 2023 - sep 2024
                </p>
              </div>
            </div>

            <hr class="my-3 border-2" style="border-color: #f37d16a7" />
            <div class="col-md-12 col-lg-12 mt-0">
              <div
                class="rounded p-2 px-3 mb-2"
                style="background-color: #020410ad"
              >
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-certificate me-2"></i>Holds a
                  certificate in web development from Route academy (software
                  training center)
                </p>
                <p
                  class="p-0 m-0 my-2 text-white-50 text-capitalize fw-bold"
                  style="letter-spacing: 1.5px; font-size: 20px"
                >
                  <i class="fa-solid fa-graduation-cap me-2"></i>final project
                  degree :
                  <span
                    class="me-1 fw-bolder p-2 rounded-2 py-0 text-white"
                    style="background-color: #f86e03"
                    >95 %</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
