<div class="footer mt-3 mb-1">
  <div class="container px-3">
    <div class="row bg-danger g-2 p-2 pb-3" style="border-radius: 12px">
      <div class="col-md-4 col-lg-4">
        <div>
          <p class="text-white">left</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
            velit! Ratione, tenetur voluptatibus excepturi eius explicabo, quasi
            quas hic, corporis corrupti reiciendis facilis natus. Pariatur
            officiis fugiat sed repellendus eligendi aspernatur, perferendis
            consequuntur quisquam similique accusantium illo optio ad? Natus
            eveniet facere, minus quidem accusantium similique quisquam?
            Repudiandae, facere ut.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div>
          <p class="text-white">center</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
            velit! Ratione, tenetur voluptatibus excepturi eius explicabo, quasi
            quas hic, corporis corrupti reiciendis facilis natus. Pariatur
            officiis fugiat sed repellendus eligendi aspernatur, perferendis
            consequuntur quisquam similique accusantium illo optio ad? Natus
            eveniet facere, minus quidem accusantium similique quisquam?
            Repudiandae, facere ut.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div>
          <p class="text-white">center</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat,
            velit! Ratione, tenetur voluptatibus excepturi eius explicabo, quasi
            quas hic, corporis corrupti reiciendis facilis natus. Pariatur
            officiis fugiat sed repellendus eligendi aspernatur, perferendis
            consequuntur quisquam similique accusantium illo optio ad? Natus
            eveniet facere, minus quidem accusantium similique quisquam?
            Repudiandae, facere ut.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
