<div class="footer mb-2 mt-4">
  <div class="container px-3">
    <div class="row g-2 p-3" style="border-radius: 12px">
      <div class="col-md-3 col-lg-3 px-3">
        <div class="left-section">
          <div class="d-flex align-items-center justify-content-start gap-2">
            <div class="logo-container" style="width: 44px; height: 44px">
              <img
                src="../../../assets/images/Icon.png"
                alt=""
                class="w-100 h-100"
              />
            </div>
            <div class="dev-info p-1">
              <p
                class="p-0 m-0 text-uppercase text-white-50 fw-bold mx-2 text-center"
                style="letter-spacing: 4px; font-size: 12px"
              >
                omar eldeeb
              </p>
              <hr class="m-0 mx-2 border-2" style="border-color: #f86f03" />
              <p
                class="p-0 m-0 text-capitalize mx-2 fw-bold text-center text-white-50"
                style="letter-spacing: 2px; font-size: 10px"
              >
                software Developer
              </p>
            </div>
          </div>

          <div class="mt-4">
            <h6
              class="h11 text-white-50 text-uppercase fw-bold"
              style="font-family: Rammetto One; letter-spacing: 2px"
            >
              follow me :
            </h6>
            <div
              class="social-container d-flex align-items-center p-2 g-1 gap-2 mt-3 rounded"
              style="background-color: rgba(0, 0, 0, 0.442); width: fit-content"
            >
              <a href="https://github.com/Omar-Eldeeb98" target="_blank"
                ><i class="fa-brands fa-github"></i>
              </a>

              <a
                href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                target="_blank"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>

              <a href="https://wa.me/+201018341760" target="_blank"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>

              <a href="mailto:omarmakrameldeeb.98@gmail.com"
                ><i class="fa-solid fa-envelope"></i
              ></a>
            </div>
          </div>

          <div class="mt-4">
            <h6
              class="h11 text-white-50 text-uppercase fw-bold"
              style="font-family: Rammetto One; letter-spacing: 2px"
            >
              my phone Numbers :
            </h6>

            <div
              class="p-2 rounded mt-3"
              style="background-color: rgba(0, 0, 0, 0.442)"
            >
              <p style="font-size: 14px" class="text-white-50 fw-bold p-0 my-1">
                <i class="fa-solid fa-mobile-button mx-2"></i>+201018341760
              </p>
              <hr
                class="p-0 m-0 border-1"
                style="border-color: rgba(245, 245, 245, 0.663)"
              />
              <p style="font-size: 14px" class="text-white-50 fw-bold p-0 my-1">
                <i class="fa-solid fa-mobile-button mx-2"></i>+201220506973
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 px-2">
        <div class="left1-section">
          <h6
            class="h11 text-white-50 text-uppercase fw-bold"
            style="font-family: Rammetto One; letter-spacing: 2px"
          >
            helpful links :
          </h6>

          <div class="d-flex gap-3 mt-3">
            <ul class="list-unstyled">
              <li>
                <a class="link-item" routerLink="/home" routerLinkActive=""
                  >Home</a
                >
              </li>
              <li>
                <a
                  class="link-item"
                  routerLink="/about/aboutme"
                  routerLinkActive=""
                  >about me</a
                >
              </li>
              <li>
                <a
                  class="link-item"
                  routerLink="/about/education"
                  routerLinkActive=""
                  >education</a
                >
              </li>
              <li>
                <a
                  class="link-item"
                  routerLink="/about/courses"
                  routerLinkActive=""
                  >courses</a
                >
              </li>
              <li>
                <a
                  class="link-item"
                  routerLink="/about/certifications"
                  routerLinkActive=""
                  >certifications</a
                >
              </li>
              <li>
                <a
                  class="link-item"
                  routerLink="/about/skills"
                  routerLinkActive=""
                  >skills</a
                >
              </li>
            </ul>

            <ul class="list-unstyled">
              <li>
                <a
                  class="link-item"
                  routerLink="/about/resume"
                  routerLinkActive=""
                  >resume</a
                >
              </li>
              <li>
                <a class="link-item" routerLink="" routerLinkActive=""
                  >projects</a
                >
              </li>
              <li>
                <a class="link-item" routerLink="" routerLinkActive=""
                  >experiences</a
                >
              </li>
              <li>
                <a class="link-item" routerLink="" routerLinkActive="">goals</a>
              </li>
              <li>
                <a class="link-item" routerLink="" routerLinkActive=""
                  >contact me</a
                >
              </li>
            </ul>
          </div>

          <div class="cv-btn-container">
            <button class="cv-btn" (click)="downloadResume()">
              <span class="text-capitalize">download cv</span>
              <i class="fa-solid fa-file-pdf fa-beat-fade mx-2"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 px-2">
        <div class="left2-section">
          <h6
            class="h11 text-white-50 text-uppercase fw-bold"
            style="font-family: Rammetto One; letter-spacing: 2px"
          >
            information :
          </h6>

          <div>
            <div
              class="mt-4 p-2 rounded"
              style="background-color: rgba(0, 0, 0, 0.442)"
            >
              <p
                class="p-0 m-0 text-white-50 fw-bold text-capitalize"
                style="font-size: 20px"
              >
                <i
                  class="fa-solid fa-location-dot mx-2"
                  style="color: #f86f03"
                ></i
                >find me :
              </p>
              <span
                style="font-size: 14px"
                class="p-0 m-0 text-white-50 text-capitalize"
              >
                <i
                  class="opacity-0 fa-solid fa-location-dot mx-2"
                  style="color: #f37d16"
                ></i>
                cairo & alexandria, egypt
              </span>
            </div>
            <div
              class="mt-3 p-2 rounded"
              style="background-color: rgba(0, 0, 0, 0.442)"
            >
              <p
                class="p-0 m-0 text-white-50 fw-bold text-capitalize"
                style="font-size: 20px"
              >
                <i class="fa-solid fa-phone mx-2" style="color: #f86f03"></i>
                call me :
              </p>
              <span style="font-size: 14px" class="p-0 m-0 text-white-50">
                <i
                  class="opacity-0 fa-solid fa-phone mx-2"
                  style="color: #f37d16"
                ></i>
                +201018341760</span
              >
            </div>
            <div
              class="mt-3 p-2 rounded"
              style="background-color: rgba(0, 0, 0, 0.442)"
            >
              <p
                class="p-0 m-0 text-white-50 fw-bold text-capitalize"
                style="font-size: 20px"
              >
                <i class="fa-solid fa-envelope mx-2" style="color: #f86f03"></i
                >mail me :
              </p>
              <span style="font-size: 14px" class="p-0 m-0 text-white-50">
                <i
                  class="opacity-0 fa-solid fa-envelope mx-2"
                  style="color: #f37d16"
                ></i>
                omarmakrameldeeb.98&#64;gmail.com</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 px-1">
        <div class="right-section">
          <div class="py-2 px-2">
            <div
              style="width: 200px"
              class="mx-auto d-flex align-items-center justify-content-center"
            >
              <img
                src="../../../assets/images/al-aqsa-mosque.png"
                alt="فلسطين حرة "
                class="w-100"
              />
            </div>
            <h6
              class="text-white-50 text-uppercase fw-bold"
              style="
                font-family: Rammetto One;
                letter-spacing: 2px;
                font-size: 14px;
              "
            >
              i stand with
              <span
                class="text-orange h6 fw-bold"
                style="font-family: Rammetto One; letter-spacing: 1px"
                >Palestine<i class="fa-solid fa-hand-peace ms-2"></i
              ></span>
            </h6>

            <h6
              class="text-white-50 text-uppercase fw-bold text-center"
              style="
                font-family: Rammetto One;
                letter-spacing: 2px;
                font-size: 12px;
              "
            >
              All eyes on
              <span
                class="text-orange h6 fw-bold"
                style="font-family: Rammetto One; letter-spacing: 1px"
                >Al-Aqsa</span
              >
            </h6>
          </div>
        </div>
      </div>

      <hr class="my-2 mt-3 border-2" style="border-color: #f86f03" />

      <div class="col-md-12 col-lg-12 bg-warning">
        <div
          class="row text-white-50 d-flex align-items-center justify-content-between"
        >
          <div class="col-md-6 col-lg-6">
            <p
              class="t p-0 m-0 text-uppercase"
              style="
                font-family: Rammetto One;
                letter-spacing: 2px;
                font-size: 12px;
              "
            >
              built with
              <i class="fa-solid fa-heart" style="color: #f86f03"></i> by Omar
              Eldeeb
            </p>
          </div>

          <div class="col-md-6 col-lg-6">
            <p class="small p-0 m-0 text-end">
              Copyright &copy; 2025, All Right Reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
