.fixed-item {
  position: fixed;
  top: 81%;
  left: 2.13%;
  border-radius: 50% !important;
  background-color: transparent;
  border: 2px solid #81848e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #81848e;
  z-index: 987654345678987654;
  overflow: hidden;
  transition: all 0.5s ease;
}

.fixed-item:hover {
  transform: scale(1.2);
  background-color: #f86f03;
  color: whitesmoke;
  border: none !important;
}

@media only screen and (max-width: 768px) {
  .fixed-item {
    left: 7.5% !important;
  }
}
