@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rammetto+One&display=swap");

.our-services-section .container .row,
.our-clients-section .container .row,
.statistics-section .container .row {
  background-color: #03081d !important;
  border-radius: 12px;
}
.hero-section .container .row {
  background-image: linear-gradient(180deg, #03081de0 -169.56%, #03081de0 100%),
    url(../../../assets/images/xx.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.s-container {
  background-color: #02040e !important;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .slider-item {
    width: 60px !important;
    height: 60px !important;
  }

  .right-hero {
    padding-inline-start: 0 !important;
  }

  .owl-prev,
  .owl-next {
    margin-inline: 3px;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    background-color: transparent;
    color: #f86f03;
    font-size: 16px !important;
    font-weight: bold;
    border: 1px solid #f86f03;
    transition: all 0.3s ease;
  }

  .says {
    font-size: 12px !important;
  }

  .hero-section .container .row {
    text-align: center;
    gap: 20px;
    padding-inline: 0;
  }
  .hero-section .container .row div h1 {
    font-size: 21px !important;
  }
  .hero-section .container .row div h1 span {
    font-family: "Bungee Spice";
  }

  .hero-section .container .row div h2 {
    font-size: 20px !important;
  }

  .hero-section .container .row div.col-lg-2 {
    width: 50%;
    margin-inline: auto;
  }

  .our-paragraph {
    font-size: 14px !important;
  }

  .our-paragraph::before,
  .our-paragraph::after {
    width: 0% !important;
  }

  .tools-container p {
    font-size: 12px !important;
  }

  // .tools-container {
  //   background-color: rgba(0, 0, 0, 0.442);
  //   border-radius: 6px !important;
  // }
}
// /* From Uiverse.io by Nawsome */
// .pl {
//   width: 8em;
//   height: 8em;
// }

.pl circle {
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

.pl__ring1 {
  animation: ring1_ 4s 0s ease-in-out infinite;
}

.pl__ring2 {
  animation: ring2_ 4s 0.04s ease-in-out infinite;
}

.pl__ring3 {
  animation: ring3_ 4s 0.08s ease-in-out infinite;
}

.pl__ring4 {
  animation: ring4_ 4s 0.12s ease-in-out infinite;
}

.pl__ring5 {
  animation: ring5_ 4s 0.16s ease-in-out infinite;
}

.pl__ring6 {
  animation: ring6_ 4s 0.2s ease-in-out infinite;
}

/* Animations */
@keyframes ring1_ {
  from {
    stroke-dashoffset: -376.237129776;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -94.247778;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -376.237129776;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -94.247778;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -376.237129776;
    transform: rotate(4.75turn);
  }
}

@keyframes ring2_ {
  from {
    stroke-dashoffset: -329.207488554;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -82.46680575;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -329.207488554;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -82.46680575;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -329.207488554;
    transform: rotate(4.75turn);
  }
}

@keyframes ring3_ {
  from {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -72.2566298;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -72.2566298;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -288.4484661616;
    transform: rotate(4.75turn);
  }
}

@keyframes ring4_ {
  from {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -63.61725015;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -63.61725015;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -253.9600625988;
    transform: rotate(4.75turn);
  }
}

@keyframes ring5_ {
  from {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -56.5486668;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -56.5486668;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -225.7422778656;
    transform: rotate(4.75turn);
  }
}

@keyframes ring6_ {
  from {
    stroke-dashoffset: -203.795111962;
    transform: rotate(-0.25turn);
    animation-timing-function: ease-in;
  }

  23% {
    stroke-dashoffset: -51.05087975;
    transform: rotate(1turn);
    animation-timing-function: ease-out;
  }

  46%,
  50% {
    stroke-dashoffset: -203.795111962;
    transform: rotate(2.25turn);
    animation-timing-function: ease-in;
  }

  73% {
    stroke-dashoffset: -51.05087975;
    transform: rotate(3.5turn);
    animation-timing-function: ease-out;
  }

  96%,
  to {
    stroke-dashoffset: -203.795111962;
    transform: rotate(4.75turn);
  }
}

// /* From Uiverse.io by opMorn */
button.contact-btn {
  position: relative;
  border: none;
  box-shadow: 0 0 0 whitesmoke;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 50px;
  color: gray;
  font-size: 40px !important;
}

button.contact-btn:hover {
  color: #f86f03;
  transform: scale(1.2);
}

.slider-item {
  background-color: rgba(0, 0, 0, 0.408);
}

.scroll-bottom-btn {
  background-color: transparent !important;
  border: 1px solid gray;
  color: gray;
  padding: 16px 10px;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.scroll-bottom-btn:hover {
  transform: scale(1.1);
  background-color: #f86f03 !important;
  border: 1px solid transparent !important;
  color: whitesmoke !important;
}

.our-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #f86f03;
  border-radius: 35px;
  width: fit-content;
  padding-inline: 30px !important;
}

.our-paragraph::before,
.our-paragraph::after {
  content: "";
  display: block;
  width: 25%;
  height: 3px;
  background-color: #f86f03; /* Change the color to your desired color */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30%;
}

.our-paragraph::before {
  left: -30%;
}

.our-paragraph::after {
  right: -30%;
}

.slider-item .tools-img {
  // filter: grayscale(100%) !important;
  transition: all 0.1s ease;
}
.slider-item .tools-img:hover {
  // filter: grayscale(0) !important;
  transform: scale(1.2) !important;
}

.card-container {
  background-color: rgba(0, 0, 0, 0.442);
  border-radius: 8px !important;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-container:hover {
  background-color: #f86f03 !important;
  color: white !important;
  transform: scale(0.85) rotate(10deg);
}

.img-container {
  border-radius: 8px !important;
  background-color: #1f1e33;
  color: #f86f03;
}

.tools-container {
  background-color: rgba(0, 0, 0, 0.442);
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
}

.owl-prev,
.owl-next {
  margin-inline: 4px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #f86f03;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #f86f03;
  transition: all 0.3s ease;
}

.owl-prev:hover,
.owl-next:hover {
  transform: scale(1.2);
  background-color: #f86f03;
  border: none;
  color: whitesmoke;
}

/* Social Links */
.social-container a {
  text-decoration: none !important;
  color: #878b93;
  margin-inline: 4px !important;
  font-size: 20px !important;
}

.social-container a i {
  transition: all 0.3s ease-in-out;
}

.social-container a:hover i {
  color: #f86f03;
  transform: scale(1.2);
}

.text-orange {
  color: #f86f03;
}
