<!--hero section-->
<div class="hero-section mt-3">
  <div class="container px-4">
    <div class="row p-3 align-items-center justify-content-between">
      <div class="col-md-5 col-lg-5">
        <div class="">
          <h2
            class="fw-bold text-white-50 text-uppercase"
            style="letter-spacing: 3px; font-family: Rammetto One"
          >
            Hi, I am ...
          </h2>
          <h1
            class="text-uppercase fw-bold text-white-50 mt-3"
            style="font-size: 38px; letter-spacing: 1px"
          >
            <span
              class="typed-element text-white"
              style="font-family: Bungee Spice"
            ></span>
          </h1>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="pl w-100 h-100"
          >
            <circle
              stroke-dashoffset="-376.4"
              stroke-dasharray="377 377"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="8"
              stroke="hsl(3,90%60%)"
              fill="none"
              r="60"
              cy="64"
              cx="64"
              class="pl__ring1"
            ></circle>
            <circle
              stroke-dashoffset="-329.3"
              stroke-dasharray="329.9 329.9"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="7"
              stroke="hsl(13,90%,55%)"
              fill="none"
              r="52.5"
              cy="64"
              cx="64"
              class="pl__ring2"
            ></circle>
            <circle
              stroke-dashoffset="-288.6"
              stroke-dasharray="289 289"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="6"
              stroke="hsl(23,90%,55%)"
              fill="none"
              r="46"
              cy="64"
              cx="64"
              class="pl__ring3"
            ></circle>
            <circle
              stroke-dashoffset="-254"
              stroke-dasharray="254.5 254.5"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="5"
              stroke="hsl(33,90%,55%)"
              fill="none"
              r="40.5"
              cy="64"
              cx="64"
              class="pl__ring4"
            ></circle>
            <circle
              stroke-dashoffset="-225.8"
              stroke-dasharray="226.2 226.2"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="4"
              stroke="hsl(43,90%,55%)"
              fill="none"
              r="36"
              cy="64"
              cx="64"
              class="pl__ring5"
            ></circle>
            <circle
              stroke-dashoffset="-203.9"
              stroke-dasharray="204.2 204.2"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="3"
              stroke="hsl(53,90%,55%)"
              fill="none"
              r="32.5"
              cy="64"
              cx="64"
              class="pl__ring6"
            ></circle>
          </svg>
        </div>
      </div>
      <div class="col-md-5 col-lg-5">
        <div class="">
          <h2
            class="fw-bold text-uppercase text-white-50"
            style="font-family: Rammetto One"
          >
            let's
            <!-- <button class="contact-btn mx-2">
              <i class="fa-solid fa-arrow-right mx-2"></i>
            </button> -->
            <!-- From Uiverse.io by opMorn -->
            <button class="contact-btn m-0 ms-3">
              <i class="fa-solid fa-phone mx-2"> ...</i>
              <div class="star-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="star-2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="star-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="star-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="star-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
              <div class="star-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xml:space="preserve"
                  version="1.1"
                  style="
                    shape-rendering: geometricPrecision;
                    text-rendering: geometricPrecision;
                    image-rendering: optimizeQuality;
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                  "
                  viewBox="0 0 784.11 815.53"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <defs></defs>
                  <g id="Layer_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path
                      class="fil0"
                      d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
                    ></path>
                  </g>
                </svg>
              </div>
            </button>
          </h2>
          <h1
            class="fw-bold text-uppercase text-white mt-3"
            style="
              letter-spacing: 4px;
              font-family: Rammetto One;
              font-size: 35px;
            "
          >
            Work together !
          </h1>
        </div>
      </div>

      <div class="col-md-5 col-lg-5 mt-4 mx-auto">
        <div class="py-2 tools-container">
          <p
            style="letter-spacing: 4px; font-family: Rammetto One"
            class="text-danger m-0 p-1 text-white-50 text-center fw-bold text-uppercase h6"
          >
            Tools & technologies
            <i class="fa-solid fa-screwdriver-wrench mx-2"></i>
          </p>
        </div>
      </div>

      <div class="col-mg-12 col-lg-12 mt-3">
        <div class="slider-container">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let tool of tools">
              <div
                class="slider-item d-flex align-items-center justify-content-center p-2"
                style="
                  border-radius: 6px;
                  overflow: hidden;
                  width: 75px;
                  height: 75px;
                "
              >
                <img
                  [src]="tool.image"
                  alt="..."
                  class="tools-img"
                  style="width: 85%; height: 85%"
                />
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <hr class="my-3 border-2" style="border-color: #f37d16a7" />
        <div class="d-flex align-items-center justify-content-center mt-4">
          <button class="scroll-bottom-btn" (click)="scrollToNextSection()">
            <!-- <i class="fa-solid fa-arrow-down fa-bounce"></i>  -->
            |
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--our services section-->
<div #nextSection class="our-services-section mt-4">
  <div class="container px-3">
    <div class="row g-2 p-2 pb-3">
      <div class="containerr mt-3 mb-4">
        <p
          class="our-services-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          My services, What I Do ?
        </p>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            ui / ux
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create modern,
            user-friendly websites with seamless UI/UX, ensuring intuitive
            navigation, responsive design, and optimized performance for an
            exceptional user experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web design
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>design visually
            appealing, user-friendly websites with seamless navigation,
            responsive layouts, and intuitive UI/UX to enhance user engagement
            and experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web development
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>I develop fast,
            responsive, and user-friendly websites with clean code, seamless
            UI/UX, and optimized performance to enhance user experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            responsive design
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create responsive
            websites that adapt seamlessly to all devices like mobile devices,
            tablets, and desktops ensuring a smooth user experience with
            intuitive UI/UX and fast performance.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            website redesign
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>revamp websites with
            modern, responsive designs, improved UI/UX, and optimized
            performance to enhance user engagement and business growth.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web animation
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create smooth website
            animations that enhance user experience, improve interactivity, and
            bring your brand to life with dynamic visuals.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web optimization
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>optimize websites for
            speed, performance, and SEO, ensuring fast loading times, smooth
            user experience, and better search engine rankings.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2"
            style="width: 60px; height: 60px"
          >
            <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            />
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            unit testing
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>implement unit testing to
            ensure code reliability, catch bugs early, and improve software
            quality, maintainable, and error-free development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--patenrs & customers reviews section-->
<div class="our-clients-section mt-4">
  <div class="container px-3">
    <div class="row g-2 p-2 pb-3">
      <div class="containerr mt-3 mb-4">
        <p
          class="our-services-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          Partners & Customers Reviews
        </p>
      </div>

      <div class="col-md-12 col-lg-12">
        <div class="sliders-container">
          <div class="bg-danger mx-2 p-2">
            <div class="bg-info p-2 ms-auto" style="width: fit-content">
              <button class="owl-prev" (click)="prev()">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="owl-next" (click)="next()">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>

          <owl-carousel-o #owlCarousel [options]="customOptions1">
            <ng-template carouselSlide *ngFor="let customer of customers">
              <!-- <div class="card mx-2">
                <p>{{ customer.text }}</p>
                <div class="d-flex align-items-center justify-content-between">
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="imag">
                      <img src="{{ customer.image }}" alt="" />
                    </div>
                    <div class="txt">
                      <p class="m-0 p-0">{{ customer.author }}</p>
                      <p class="m-0 p-0 text-white-50">{{ customer.role }}</p>
                    </div>
                  </div>
                  <div class="company">
                    <img src="{{ customer.company }}" alt="" />
                  </div>
                </div>
              </div> -->

              <div
                class="slide-item mx-2 rounded p-2"
                style="background-color: #05080c"
              >
                <div
                  class="d-flex align-items-center justify-content-between bg-warning px-2 py-2 mb-1"
                >
                  <div
                    class="d-flex align-items-center justify-content-center g-1 gap-2"
                  >
                    <div
                      class="p-2 bg-danger"
                      style="width: 50px; height: 50px"
                    >
                      <img
                        src="../../../assets/images/img1.png"
                        alt="logo"
                        class="w-100 h-100"
                      />
                    </div>

                    <div>
                      <h5 class="text-white p-0 m-0">Omar Eldeeb</h5>
                      <span class="text-white p-0 m-0">Omar Eldeeb</span>
                    </div>
                  </div>
                  <div>
                    <img
                      src="../../../assets/images/Company Logo.png"
                      alt=""
                      style="width: 85px"
                    />
                  </div>
                </div>

                <div class="bg-primary px-2">
                  <p class="text-white">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Quis nam adipisci sint tempora officia, eveniet animi
                    quibusdam eligendi id dolorum!
                  </p>
                  <hr class="my-3 border-2" style="border-color: #f37d16a7" />
                  <p>social links will be here</p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
