<!--hero section-->
<div class="hero-section mt-3">
  <div class="container px-4">
    <div class="row p-3 align-items-center justify-content-between">
      <div class="col-md-5 col-lg-5">
        <div class="">
          <h2
            class="fw-bold text-white-50 text-uppercase"
            style="letter-spacing: 3px; font-family: Rammetto One"
          >
            Hi, I am ...
          </h2>
          <h1
            class="text-uppercase fw-bold text-white-50 mt-3"
            style="font-size: 38px; letter-spacing: 1px"
          >
            <span
              class="typed-element text-white"
              style="font-family: Bungee Spice"
            ></span>
          </h1>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 p-0">
        <!-- <div class="p-0 m-0">
          <ng-lottie [options]="options" width="100%" height="100%"></ng-lottie>
        </div> -->

        <div class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="pl w-100 h-100"
          >
            <circle
              stroke-dashoffset="-376.4"
              stroke-dasharray="377 377"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="8"
              stroke="hsl(3,90%60%)"
              fill="none"
              r="60"
              cy="64"
              cx="64"
              class="pl__ring1"
            ></circle>
            <circle
              stroke-dashoffset="-329.3"
              stroke-dasharray="329.9 329.9"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="7"
              stroke="hsl(13,90%,55%)"
              fill="none"
              r="52.5"
              cy="64"
              cx="64"
              class="pl__ring2"
            ></circle>
            <circle
              stroke-dashoffset="-288.6"
              stroke-dasharray="289 289"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="6"
              stroke="hsl(23,90%,55%)"
              fill="none"
              r="46"
              cy="64"
              cx="64"
              class="pl__ring3"
            ></circle>
            <circle
              stroke-dashoffset="-254"
              stroke-dasharray="254.5 254.5"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="5"
              stroke="hsl(33,90%,55%)"
              fill="none"
              r="40.5"
              cy="64"
              cx="64"
              class="pl__ring4"
            ></circle>
            <circle
              stroke-dashoffset="-225.8"
              stroke-dasharray="226.2 226.2"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="4"
              stroke="hsl(43,90%,55%)"
              fill="none"
              r="36"
              cy="64"
              cx="64"
              class="pl__ring5"
            ></circle>
            <circle
              stroke-dashoffset="-203.9"
              stroke-dasharray="204.2 204.2"
              stroke-linecap="round"
              transform="rotate(-90,64,64)"
              stroke-width="3"
              stroke="hsl(53,90%,55%)"
              fill="none"
              r="32.5"
              cy="64"
              cx="64"
              class="pl__ring6"
            ></circle>
          </svg>
        </div>
      </div>

      <div class="right-hero col-md-5 col-lg-5 ps-4">
        <div class="">
          <h2
            class="fw-bold text-uppercase text-white-50"
            style="font-family: Rammetto One"
          >
            let's
            <!-- <button class="contact-btn mx-2">
              <i class="fa-solid fa-arrow-right mx-2"></i>
            </button> -->
            <!-- From Uiverse.io by opMorn -->
            <button class="contact-btn m-0 ms-2">
              <a
                href="https://wa.me/+201018341760"
                target="_blank"
                style="text-decoration: none; color: inherit"
                ><i class="fa-brands fa-whatsapp"></i
              ></a>
            </button>
          </h2>
          <h1
            class="fw-bold text-uppercase text-white mt-3"
            style="
              letter-spacing: 4px;
              font-family: Rammetto One;
              font-size: 35px;
            "
          >
            Work together !
          </h1>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 mt-4 mx-auto">
        <div class="py-2 tools-container">
          <p
            style="letter-spacing: 4px; font-family: Rammetto One"
            class="tech text-danger m-0 p-1 text-white-50 text-center fw-bold text-uppercase h6"
          >
            Tools & technologies
            <i class="fa-solid fa-screwdriver-wrench mx-1"></i>
          </p>
        </div>
      </div>

      <div class="col-mg-12 col-lg-12 mt-3">
        <div class="slider-container">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let tool of tools">
              <div
                class="slider-item d-flex align-items-center justify-content-center p-2"
                style="
                  border-radius: 6px;
                  overflow: hidden;
                  width: 75px;
                  height: 75px;
                "
              >
                <img
                  loading="lazy"
                  [src]="tool.image"
                  alt="..."
                  class="tools-img"
                  style="width: 85%; height: 85%"
                />
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        <hr class="my-3 border-2" style="border-color: #f86d03b0" />

        <div class="d-flex align-items-center justify-content-center mt-4">
          <button class="scroll-bottom-btn" (click)="scrollToNextSection()">
            <i class="fa-solid fa-arrow-down-long"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--our services section-->
<div #nextSection class="our-services-section mt-4">
  <div class="container px-3">
    <div class="row g-2 p-2 pb-3">
      <div class="containerr mt-3 mb-4">
        <p
          class="our-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          My services, What I Do ?
        </p>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->
            <i class="fa-solid fa-shapes"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            ui / ux
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create modern,
            user-friendly websites with seamless UI/UX, ensuring intuitive
            navigation, responsive design, and optimized performance for an
            exceptional user experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-laptop-code"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web design
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>design visually
            appealing, user-friendly websites with seamless navigation,
            responsive layouts, and intuitive UI/UX to enhance user engagement
            and experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-code"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web development
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>I develop fast,
            responsive, and user-friendly websites with clean code, seamless
            UI/UX, and optimized performance to enhance user experience.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-laptop"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            responsive design
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create responsive
            websites that adapt seamlessly to all devices like mobile devices,
            tablets, and desktops ensuring a smooth user experience with
            intuitive UI/UX and fast performance.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-recycle"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            website redesign
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>revamp websites with
            modern, responsive designs, improved UI/UX, and optimized
            performance to enhance user engagement and business growth.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-radiation fa-spin"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web animation
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>create smooth website
            animations that enhance user experience, improve interactivity, and
            bring your brand to life with dynamic visuals.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->
            <i class="fa-solid fa-layer-group"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            web optimization
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #1f1e33; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>optimize websites for
            speed, performance, and SEO, ensuring fast loading times, smooth
            user experience, and better search engine rankings.
          </p>
        </div>
      </div>

      <div class="col-md-3 col-lg-3 mb-1" data-aos="zoom-in">
        <div class="card-container p-2">
          <div
            class="img-container mx-auto mb-2 mt-2 p-2 d-flex align-items-center justify-content-center"
            style="width: 60px; height: 60px; font-size: 28px"
          >
            <!-- <img
              src="../../../assets/images/layer.png"
              alt="just a pic"
              class="w-100"
            /> -->

            <i class="fa-solid fa-bug-slash"></i>
          </div>

          <p
            class="text-white-50 text-uppercase text-center"
            style="
              font-size: 20px;
              letter-spacing: 2px;
              font-family: Rammetto One;
            "
          >
            unit testing
          </p>

          <p
            class="text-white-50 text-capitalize p-2 rounded"
            style="background-color: #19202d; line-height: 28px"
          >
            <i class="fa-solid fa-circle-dot me-2"></i>implement unit testing to
            ensure code reliability, catch bugs early, and improve software
            quality, maintainable, and error-free development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--patenrs & customers reviews section-->
<div class="our-clients-section mt-4">
  <div class="container px-3">
    <div class="row g-2 p-2 pb-3">
      <div class="containerr mt-3 mb-2">
        <p
          class="our-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          Partners Reviews
        </p>
      </div>

      <div class="col-md-12 col-lg-12">
        <div class="sliders-container">
          <div
            class="mx-2 p-2 d-flex align-items-center justify-content-between"
          >
            <div class="p-2 m-0">
              <p
                class="says p-0 m-0 fw-bold text-white-50 text-capitalize"
                style="
                  font-size: 22px;
                  letter-spacing: 1.5px;
                  font-family: Rammetto One;
                "
              >
                What My Clients Say !
              </p>
            </div>

            <div class="p-2 ms-auto" style="width: fit-content">
              <button class="owl-prev" (click)="prev()">
                <i class="fas fa-chevron-left"></i>
              </button>

              <button class="owl-next" (click)="next()">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>
          </div>

          <owl-carousel-o #owlCarousel [options]="customOptions1">
            <ng-template carouselSlide *ngFor="let customer of customers">
              <div
                data-aos="zoom-in"
                class="slide-item mx-2 rounded p-2 pb-3 shadow"
                style="background-color: rgba(0, 0, 0, 0.442)"
              >
                <div
                  class="d-flex align-items-center justify-content-between px-1 py-2 mb-1"
                >
                  <div
                    class="d-flex align-items-center justify-content-center g-1 gap-2"
                  >
                    <div
                      class="p-2 d-flex align-items-center justify-content-center"
                      style="
                        width: 45px;
                        height: 45px;
                        border-radius: 8px;
                        background-color: #1f1e33;
                        color: #f86f03;
                        font-size: 28px;
                      "
                    >
                      <!-- <img
                        src="../../../assets/images/img3.png"
                        alt="logo"
                        class="w-100 h-100"
                      /> -->

                      <i class="fa-solid fa-user-tie"></i>
                    </div>

                    <div>
                      <h5
                        class="p-0 m-0 text-white-50 text-capitalize fw-bold"
                        style="font-family: cairo"
                      >
                        {{ customer.name }}
                      </h5>
                      <span
                        class="p-0 m-0 text-capitalize small text-white-50"
                        >{{ customer.position }}</span
                      >
                    </div>
                  </div>
                  <div>
                    <!-- <img
                      src="../../../assets/images/img4.png"
                      alt=""
                      style="width: 28px"
                    /> -->
                    <i class="fa-solid fa-star" style="color: #f86f03"></i>
                  </div>
                </div>

                <div class="p-2 rounded" style="background-color: #1f1e33">
                  <p
                    class="text-white-50 text-capitalize"
                    style="line-height: 28px"
                  >
                    <i class="fa-solid fa-quote-left mx-1"></i>
                    {{ customer.description | slice : 0 : 150 }}
                  </p>
                  <hr
                    class="my-2 p-0 border-2"
                    style="border-color: rgba(245, 245, 245, 0.481)"
                  />

                  <div
                    class="social-container d-flex align-items-center justify-content-start"
                  >
                    <a href="https://wa.me/+201018341760" target="_blank"
                      ><i class="fa-brands fa-whatsapp"></i
                    ></a>

                    <a
                      href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                      target="_blank"
                      ><i class="fa-brands fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>

      <!--! we will do and add something here ...  -->
      <div class="col-md-12 col-lg-12">
        <div></div>
      </div>
    </div>
  </div>
</div>
