<!--about me section-->
<div class="aboutme-section mt-4">
  <div class="container px-3">
    <div class="row main-row g-2 p-2 pb-3">
      <div class="mt-3 mb-4">
        <p
          class="our-paragraph fw-bold text-white-50 mx-auto p-2 text-capitalize"
          style="
            font-size: 25px;
            letter-spacing: 2px;
            font-family: Rammetto One;
          "
        >
          about me
        </p>
      </div>

      <div class="col-md-6 col-lg-6 p-2">
        <div class="left-section p-2">
          <div class="my-div mx-auto" style="width: fit-content">
            <div
              class="developer-image-container mx-auto mt-3"
              style="
                width: 270px;
                height: 270px;
                border-radius: 50%;
                overflow: hidden;
                border: 7px double #1f1e33;
              "
            >
              <img
                src="../../../../assets/images/developer-pics/me4.png"
                alt="dev pic"
                class="w-100"
              />
            </div>
            <div
              class="varify-container rounded-circle"
              style="width: 25px; height: 25px"
            >
              <i class="fa-solid fa-circle-check"></i>
              <!-- <i class="fa-solid fa-certificate"></i> -->
            </div>
          </div>
          <div
            class="my-card rounded p-3 mt-4"
            style="background-color: #03081d"
          >
            <p
              class="text-white-50 text-capitalize fw-bold"
              style="font-family: Rammetto One; letter-spacing: 1.5px"
            >
              Hey <i class="fa-solid fa-hand-peace fa-beat mx-1"></i>,
            </p>
            <p
              class="summary text-white-50 text-capitalize"
              style="letter-spacing: 1.5px; line-height: 28px"
            >
              I am
              <span
                class="fw-bold mx-1 text-uppercase"
                style="
                  color: #f86f03;
                  font-family: Rammetto One;
                  letter-spacing: 1.5px;
                "
                >Omar Makram Eldeeb,</span
              >
              Angular front-end developer with 2 years of experience designing
              and building responsive, user-friendly web applications.
              Proficient in Angular, TypeScript, and modern front-end
              technologies. Passionate about creating efficient, scalable, and
              maintainable code. A strong collaborator with experience working
              in Agile teams to deliver high-quality solutions on time.
            </p>
            <hr class="my-3 border-2" style="border-color: #f86f03" />
            <div
              class="items-container d-flex align-items-start justify-content-between"
              style="font-size: 25px"
            >
              <div>
                <div class="">
                  <p
                    class="text-white-50 text-uppercase fw-bold mt-3 mb-1"
                    style="
                      font-family: Rammetto One;
                      letter-spacing: 1.5px;
                      font-size: 16px;
                    "
                  >
                    contact information :
                  </p>
                  <a
                    href="https://x.com/oe__57__"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-brands fa-x-twitter"></i>
                  </a>
                  <a
                    href="https://github.com/Omar-Eldeeb98"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3 b"
                  >
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a
                    href="https://www.linkedin.com/in/omar-eldeeb-60a130199/"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                  <a
                    href="https://wa.me/+201018341760"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-brands fa-whatsapp"></i>
                    <small
                      ><i
                        style="font-size: 12px"
                        class="fa-solid fa-circle-check text-success"
                      ></i
                    ></small>
                  </a>
                  <a
                    href="https://wa.me/+201220506973"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-brands fa-whatsapp"></i>
                  </a>

                  <a
                    href="mailto:omarmakrameldeeb.98@gmail.com"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-solid fa-envelope"></i>
                    <small
                      ><i
                        style="font-size: 12px"
                        class="fa-solid fa-circle-check text-success"
                      ></i
                    ></small>
                  </a>
                  <a
                    href="mailto:oeldeeb111@gmail.com"
                    target="_blank"
                    class="text-decoration-none text-white-50 me-3"
                  >
                    <i class="fa-solid fa-envelope"></i>
                  </a>
                </div>
                <hr class="my-3 border-2" style="border-color: #f86f03" />
                <div class="">
                  <p
                    class="text-white-50 text-uppercase fw-bold mt-3 mb-1"
                    style="
                      font-family: Rammetto One;
                      letter-spacing: 1.5px;
                      font-size: 16px;
                    "
                  >
                    more information :
                  </p>

                  <div class="d-flex">
                    <p
                      class="fw-bold text-white-50 me-2"
                      style="font-size: 16px"
                    >
                      <i class="fa-solid fa-person-rifle mx-2">:</i>Completed
                    </p>
                    <p
                      class="fw-bold text-white-50 me-2"
                      style="font-size: 16px"
                    >
                      <i class="fa-solid fa-person ms-2"></i>|<i
                        class="fa-solid fa-person-dress me-2"
                        >:</i
                      >single
                    </p>
                    <p class="fw-bold text-white-50" style="font-size: 16px">
                      <i class="fa-solid fa-cake-candles mx-2">:</i>1998
                    </p>
                  </div>
                </div>
                <hr
                  class="moreinfo-hr d-none my-0 border-2"
                  style="border-color: #f86f03"
                />
              </div>
              <div>
                <p
                  class="text-white-50 text-uppercase fw-bold mt-3 mb-1"
                  style="
                    font-family: Rammetto One;
                    letter-spacing: 1.5px;
                    font-size: 16px;
                  "
                >
                  phone numbers :
                </p>

                <p class="fw-bold text-white-50 mb-1" style="font-size: 18px">
                  <i class="fa-solid fa-mobile mx-2"></i>+201018341760<small
                    ><i
                      style="font-size: 12px"
                      class="fa-solid fa-circle-check text-success mx-1"
                    ></i
                  ></small>
                </p>
                <p class="fw-bold text-white-50" style="font-size: 18px">
                  <i class="fa-solid fa-mobile mx-2"></i>+201220506973
                </p>

                <hr class="my-3 border-2" style="border-color: #f86f03" />
                <button class="cv-btn" (click)="downloadResume()">
                  <span class="text-capitalize">download cv</span>
                  <i class="fa-solid fa-file-pdf fa-beat-fade mx-2"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 p-2">
        <div class="right-section p-2">
          <div class="animation-container">
            <div class="py-2 tools-container mb-3 mt-2">
              <p
                style="letter-spacing: 4px; font-family: Rammetto One"
                class="tech text-danger m-0 p-2 text-white-50 text-center fw-bold text-uppercase h6"
              >
                let's work together
                <i class="fa-solid fa-briefcase mx-1"></i>
              </p>
            </div>

            <div class="my-card rounded p-3" style="background-color: #03081d">
              <ng-lottie [options]="options"></ng-lottie>
            </div>

            <hr class="my-3 border-2" style="border-color: #f86f03" />

            <div class="slider-container mb-2">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let tool of tools">
                  <div
                    class="slider-item d-flex align-items-center justify-content-center p-2"
                    style="
                      border-radius: 6px;
                      overflow: hidden;
                      width: 65px;
                      height: 65px;
                    "
                  >
                    <img
                      [src]="tool.image"
                      alt="..."
                      class="tools-img"
                      style="width: 85%; height: 85%"
                    />
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
