@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rammetto+One&display=swap");

.skills-section .main-row {
  background-color: #03081d !important;
  border-radius: 12px;
}
.our-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #f86f03;
  border-radius: 35px;
  width: fit-content;
  padding-inline: 30px !important;
}
.our-paragraph::before,
.our-paragraph::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #f86f03; /* Change the color to your desired color */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 30%;
}

.our-paragraph::before {
  left: -70%;
}

.our-paragraph::after {
  right: -70%;
}
.skills-container {
  background-color: #14162b !important;
  border-radius: 8px;
}

.ecard {
  background-color: #020410ad !important;
}

.text-bg-orange {
  background-color: #f86f03 !important;
}

.cr {
  /*container will divided into 3 col*/
  columns: 2;
  column-gap: 20px;
}

.cr .skills-container {
  /* البوكس اللى شايل الصورة واخد 100% من عرض الكولمن */
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .cr {
    /*container will divided into 3 col*/
    columns: 1;
    column-gap: 10px;
  }
  .our-paragraph {
    font-size: 14px !important;
  }

  .our-paragraph::before,
  .our-paragraph::after {
    width: 0% !important;
  }

  .skills-container {
    h5 {
      font-size: 18px;
    }
    .badge-container {
      text-align: center !important;
      span {
        margin: 4px !important;
      }
    }

    .icons-container {
      justify-content: center !important;
    }
  }
}
